[submodule "web"]
	path = web
	url = git@github.com:casm-lang/casm-lang.github.io.git
[submodule "casmi"]
	path = casmi
	url = git@github.com:casm-lang/casmi.git
[submodule "casmc"]
	path = casmc
	url = git@github.com:casm-lang/casmc.git
