#
#   Copyright (C) 2014-2021 CASM Organization <https://casm-lang.org>
#   All rights reserved.
#
#   Developed by: Philipp Paulweber
#                 Emmanuel Pescosta
#                 <https://github.com/casm-lang/casm>
#
#   This file is part of casm.
#
#   casm is free software: you can redistribute it and/or modify
#   it under the terms of the GNU General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   casm is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
#   GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License
#   along with casm. If not, see <http://www.gnu.org/licenses/>.
#

#
#
# Applications
#

[submodule "app/casmc"] # internal
	path = app/casmc
	url = git@github.com:casm-lang/casmc.git

[submodule "app/casmf"]
	path = app/casmf
	url = git@github.com:casm-lang/casmf.git

[submodule "app/casmd"]
	path = app/casmd
	url = git@github.com:casm-lang/casmd.git

[submodule "app/casmi"]
	path = app/casmi
	url = git@github.com:casm-lang/casmi.git

#
#
# Libraries (External Forks)
#

[submodule "lib/asmjit"]
	path = lib/asmjit
	url = git@github.com:casm-lang/libasmjit.git

[submodule "lib/gtest"]
	path = lib/gtest
	url = git@github.com:casm-lang/libgtest.git

[submodule "lib/hayai"]
	path = lib/hayai
	url = git@github.com:casm-lang/libhayai.git

[submodule "lib/z3"] # external
	path = lib/z3
	url = git@github.com:casm-lang/libz3.git

#
#
# Libraries (General)
#

[submodule "lib/stdhl"]
	path = lib/stdhl
	url = git@github.com:casm-lang/libstdhl.git

[submodule "lib/pass"]
	path = lib/pass
	url = git@github.com:casm-lang/libpass.git

[submodule "lib/tptp"]
	path = lib/tptp
	url = git@github.com:casm-lang/libtptp.git

#
#
# Libraries (CASM)
#

[submodule "lib/casm-ir"]
	path = lib/casm-ir
	url = git@github.com:casm-lang/libcasm-ir.git

[submodule "lib/casm-rt"] # internal
	path = lib/casm-rt
	url = git@github.com:casm-lang/libcasm-rt.git

[submodule "lib/casm-fe"]
	path = lib/casm-fe
	url = git@github.com:casm-lang/libcasm-fe.git

[submodule "lib/casm-be"] # internal
	path = lib/casm-be
	url = git@github.com:casm-lang/libcasm-be.git

[submodule "lib/casm-tc"]
	path = lib/casm-tc
	url = git@github.com:casm-lang/libcasm-tc.git

#
#
# Libraries (CJEL)
#

[submodule "lib/cjel-ir"] # internal
	path = lib/cjel-ir
	url = git@github.com:casm-lang/libcjel-ir.git

[submodule "lib/cjel-rt"] # internal
	path = lib/cjel-rt
	url = git@github.com:casm-lang/libcjel-rt.git

[submodule "lib/cjel-be"] # internal
	path = lib/cjel-be
	url = git@github.com:casm-lang/libcjel-be.git

#
#
# Extension (Plug-ins)
#

[submodule "ext/emacs"] # internal
	path = ext/emacs
	url = git@github.com:casm-lang/casm-lang.plugin.emacs.git

[submodule "ext/kate"] # internal
	path = ext/kate
	url = git@github.com:casm-lang/casm-lang.plugin.kate.git

[submodule "ext/monaco"] # internal
	path = ext/monaco
	url = git@github.com:casm-lang/casm-lang.plugin.monaco.git

[submodule "ext/tmbundle"] # internal
	path = ext/tmbundle
	url = git@github.com:casm-lang/casm-lang.plugin.tmbundle.git

[submodule "ext/vscode"] # internal
	path = ext/vscode
	url = git@github.com:casm-lang/casm-lang.plugin.vscode.git

#
#
# Packages
#

[submodule "pkg/archlinux"] # internal
	path = pkg/archlinux
	url =  git@github.com:casm-lang/casm-lang.pkg.archlinux.git

[submodule "pkg/appimage"] # internal
	path = pkg/appimage
	url = git@github.com:casm-lang/casm-lang.pkg.appimage.git

[submodule "pkg/flatpak"] # internal
	path = pkg/flatpak
	url = git@github.com:casm-lang/casm-lang.pkg.flatpak.git

[submodule "pkg/docker"] # internal
	path = pkg/docker
	url = git@github.com:casm-lang/casm-lang.pkg.docker.git

#
#
# Various (Containers, Logo, Publications, Website etc.)
#

[submodule "var/container/linux"] # internal
	path = var/container/linux
	url = git@github.com:casm-lang/casm-lang.container.linux.git

[submodule "var/container/windows"] # internal
	path = var/container/windows
	url = git@github.com:casm-lang/casm-lang.container.windows.git

[submodule "var/logo"] # internal
	path = var/logo
	url = git@github.com:casm-lang/casm-lang.logo.git

[submodule "var/publication"] # internal
	path = var/publication
	url = git@github.com:casm-lang/publication.git

[submodule "var/web"] # internal
	path = var/web
	url = git@github.com:casm-lang/casm-lang.github.io.git
